body{
    background-color:skyblue;
}

#c1{
    color: blue;
    background-color: darkorchid;
}

#c2{
    color: aqua;
    background-color: darkslategray;
}

#c3{
    color: firebrick;
    background-color: bisque;
}

#c4{
    color: indianred;
    background-color: aqua;

}

#c5{
    color:lavenderblush;
    background-color: darkslategray;
}

#c6{
    color: brown;
   background-color: indigo; 
}